<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" strict="true" name="LogConfig">
	<Properties>
		<property name="LOGBACK_DIR">@log4j.file@</property>
		<!-- 記錄檔存放路徑 -->
		<Property name="LOG_PATH" value="crmlogs" />
	</Properties>
	
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
        	<pattern>%d %-5level [%thread] %logger{0} %L : %msg%n</pattern>
            <PatternLayout pattern="[%d] %-5level [%thread] %logger{0} %L : %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.crm" level="debug" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        
        
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
        
    </Loggers>
</Configuration>